<!DOCTYPE html>
<html
        layout:decorate="~{layouts/layout}"
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns="http://www.w3.org/1999/xhtml"
>
<body layout:fragment="content">
<div class="container mt-4">
    <input type="hidden" id="documentId" th:value="${documentId}"/>
    <h2 class="mb-4 fw-semibold">결재서 작성</h2>
    <hr/>
    <div id="editor">

    </div>
    <button class="btn btn-primary mt-4 d-block ml-auto" id="submit">제출</button>
</div>

<script>
</script>
    <script src="/js/mypage/approvalWrite.js"></script>
</body>
</html>

