<!DOCTYPE html>
<html
        layout:decorate="~{layouts/layout}"
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <title>내 결재</title>
    <style>
        .my-search > div {
            &.search1 {
                width: 10%;
            }
            &.search2 {
                width: 30%;
            }
            &.search3 {
                width: 20%;
            }
            &.search4 {
               width: 40%;
            }
        }
    </style>
</head>
<body layout:fragment="content">
    <div class="container mt-4">
    <h2 class="mb-4 fw-semibold">내 결재 내역 조회</h2>
        <hr/>
    <div class="row w-100 my-search" id="custom-container">
            <div class="search1">
                <label class="label-search me-2 form-label" for="documentType">요청 구분</label>
                <select name="documentType" id="documentType" class="form-control">
                    <option value="" selected>선택</option>
                </select>
            </div>
            <div class="search2">
                <span class="label-search me-2 form-label">요청 날짜</span>
                <div class="d-flex align-items-center mt-2">
                    <input type="date" id="inApprovalRequestDateStart" class="form-control"/>~
                    <input type="date" id="inApprovalRequestDateEnd" class="form-control"/>
                </div>

            </div>
            <div class="search3">
                <label class="label-search me-2 form-label" for="display_amount">표시수량</label>
                <select name="display_amount" id="display_amount" class="form-control" onchange="changeDisplay()">
                    <option value="5">5</option>
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="search4">
                <label class="label-search me-2 form-label">상태</label>
                <div class="d-flex align-items-center ">
                    <button class="btn btn-outline-secondary me-2 filter-btn" data-status="WAITING">대기중</button>
                    <button class="btn btn-outline-danger me-2 filter-btn" data-status="REJECTED">반려</button>
                    <button class="btn btn-outline-success filter-btn" data-status="APPROVED">승인</button>
                </div>
            </div>
            <div class="btn-box mt-4 d-flex justify-content-center">
                <button type="button" class="btn btn-primary px-3 py-2 mr-2" onclick="search()">검색</button>
                <button type="button" class="btn btn-secondary px-3 py-2" onclick="reset()">초기화</button>
            </div>
        </div>
    <div id="table-container">
        <div id="grid"></div>
        <div id="pagination" class="tui-pagination"></div>
    </div>
    <h2 class="mb-4 fw-semibold">결재 요청</h2>
        <hr/>
    <div class="row" id="custom-container">
        <div class="w-50 d-flex align-items-center">
            <label class="label-search col-2" for="documentTypeSelected">요청 구분</label>
            <select name="documentTypeSelected" id="documentTypeSelected" class="form-control">
                <option value="" selected>선택</option>
            </select>

            <div class="col-md-3">
                <button class="btn btn-primary w-100 py-2" id="requestApproval">
                    결재서 작성
                </button>
            </div>
        </div>
    </div>
</div>
    <input type="hidden" id="sessionEmployeeNum" th:value="${session.employeeNum}"/>
    <script src="/js/mypage/approvalList.js"></script>
</body>
</html>

