<!DOCTYPE html>
<html 
lang="en"
layout:decorate="~{layouts/layout}" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>

  <style>
  	#custom-container{
		background-color: #f8f9fa; /* 연한 회색 배경 */
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 박스 그림자 */
		margin-bottom: 20px;
	
	}
	/* 그리드 선택하면 생기는 색상 */
	.tui-grid-row-highlight {
		    background-color: #f0f8ff !important; /* 연한 하늘색 */
	}
  </style>

</head>
<body layout:fragment="content">
	<div class="container">
		<div class="row">
			<h2 class="mt-2 mb-2"><b>CS조회-교환 및 반품 처리 조회</b></h2>
			<hr>
			<div class="row mb-3">
		        <div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="row align-items-center gap-3">
								<div class="col-md-2 mt-2 mb-2">
									<div class="row">
										<label class="col-sm-6">신청 일자</label> 
										<input type="date"class="form-control" id="requestDate"> 
									</div>
								</div>
								<div class="col-3 form-group m-3">
										<label for="inputBhf">지점</label>
										<input type="text" class="form-control" id="inputBhf" placeholder="지점명을 입력하세요">
										<ul id="suggestionList" class="list-group" style="position: absolute; width: 95%; z-index: 1000; display: none;"></ul>		    
								</div>
								<div class="col-5 text-end mt-4">
									<div class="row">
										<div class="col-12 text-end">
					                        <button class="btn btn-primary mr-2" onclick="search()">검색</button>
					                        <button class="btn btn-secondary"        onclick="reset()">초기화</button>
				                        </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-5 stretch-card mt-2 mb-2">
					<div class="card">
						<div class="card-body">
							<h5 class="mb-4">교환 및 반품</h5>
							<div id="returning"></div>
						</div>
					</div>
				</div>
				<div class="col-md-7 stretch-card mt-2 mb-2">
					<div class="card">
							<div class="card-body">
								<h5 class="mb-4">교환 및 반품 상세</h5>
								<div id="returningDtl"></div>
							</div>
						</div>
					</div>
				
				<div class="col-md-12 stretch-card mt-2 mb-2">
					<div class="card">
						<div class="card-body">
							<h5 class="mb-4">교환 및 반품 처리 내역</h5>
							<p id="returningCodeArea"></p>
							<div id="returningDtlProcessing"></div>
							<div id="pagination" class="tui-pagination"></div>
							<div class="text-end"> <button type="button" class="text-end btn btn-dark btnExcel">Excel</button> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>	
	<script  th:inline="javascript">
	//회사번호
	let sessionCompanyNum = [[${session.companyNum}]];
	let departmentNum = [[${session.departmentNum}]];
	let employeeNum = [[${session.employeeNum}]];
	</script>
	
	<script>
		//TODO: DB 연동 후 branchList를 동적으로 가져오도록 개선 필요
		
		const branches = ["부산점", "대구점", "홍대점"];
		const inputBhf = document.getElementById("inputBhf");
		const suggestionList = document.getElementById("suggestionList");
	
		inputBhf.addEventListener("input", function() {
		    let inputValue = this.value.toLowerCase();
		    suggestionList.innerHTML = ""; // 기존 목록 삭제
	
		    if (inputValue.trim() === "") {
		        suggestionList.style.display = "none";
		        return;
		    }
	
		    let matchedBranches = branches.filter(branch => branch.toLowerCase().includes(inputValue));
		    
		    if (matchedBranches.length > 0) {
		        matchedBranches.forEach(branch => {
		            let listItem = document.createElement("li");
		            listItem.classList.add("list-group-item");
		            listItem.textContent = branch;
		            listItem.addEventListener("click", function() {
		                inputBhf.value = branch;
		                suggestionList.style.display = "none";
		            });
		            suggestionList.appendChild(listItem);
		        });
	
		        suggestionList.style.display = "block";
		    } else {
		        suggestionList.style.display = "none";
		    }
		});
	
		// 클릭하면 자동완성 목록 닫기
		document.addEventListener("click", function(event) {
		    if (!inputBhf.contains(event.target) && !suggestionList.contains(event.target)) {
		        suggestionList.style.display = "none";
		    }
		});
		/////////////////////////
		var Grid = tui.Grid;
		let returningCode;
		let branchOfficeId;
		
		let returningData;
		
		
		//페이지가 로드되면 테이블에 데이터가 없을때 뜨는 문구 함수 실행
		document.addEventListener("DOMContentLoaded",()=>{
			search();  // DOMContentLoaded 이벤트 후 자동으로 검색 실행
			REDnodata();
			REDPnodata();
			downExcel();

		})
		//////////////////////////////
		//액셀 다운
		function downExcel(){
			let btnExcel = document.querySelector('.btnExcel');
			btnExcel.addEventListener("click", function () {
			      /*  const options = {
			         				includeHiddenColumns: true,
			         				//onlySelected: true,
			         				fileName: 'CS-Record',
			       					};
			       grid3.export('xlsx', options); */
			       if (selectedRowKey == null) {
			            showAlert("선택된 요청이 없습니다.", 'danger');
			            return;
			        }
			       
			       	const wb = XLSX.utils.book_new();
			        
			     	// 첫 번째 그리드 데이터 -> Sheet로 변환 후 추가
			     	const columns1 = grid.getColumns();
			        const gridData1 = [grid.getRow(selectedRowKey)];
			        const formattedData1 = gridData1.map(row => {
			            let newRow = {};
			            columns1.forEach(col => {
			                newRow[col.header] = row[col.name]; // 컬럼 name -> header로 변경
			            });
			            return newRow;
			        });
			     
			        const ws1 = XLSX.utils.json_to_sheet(formattedData1);
			        ws1["!cols"] = columns1.map(col => ({
			            wch: col.header.length + 10 // 컬럼명 길이에 5 더해서 조정
			        }));
			        XLSX.utils.book_append_sheet(wb, ws1, "반품 및 교환 요청 정보");

			        // 두 번째 그리드 데이터 -> Sheet로 변환 후 추가
			        const columns2 = grid3.getColumns();
			        const gridData2 = grid3.getData();
			        const formattedData2 = gridData2.map(row => {
			            let newRow = {};
			            columns2.forEach(col => {
			                newRow[col.header] = row[col.name];
			            });
			            return newRow;
			        });
			        const ws2 = XLSX.utils.json_to_sheet(formattedData2)
					ws2["!cols"] = columns2.map(col => ({
			            wch: col.header.length + 20
			        }));
			        
			        XLSX.utils.book_append_sheet(wb, ws2, "반품 및 교환 처리 상세 내역");
			        XLSX.writeFile(wb, "CS-반품및교환처리.xlsx");
		     })
		}
		//////////////////////////////////
		
		// 교환및반품 조회 쿼리 호출
		const dataSource = {
			api: {
				readData: { url: '/bsn/rest/cs/request', method: 'GET', initParams: { page: 1 }},
			},
			contentType: 'application/json'
			
		};
		// 교환및반품 테이블
		const grid = new Grid({
			el: document.getElementById('returning'), 
			pageOptions: {
				useClient: false,
				perPage: 5,
			},
			scrollX:false,
		    scrollY:false,
			columns: [ 
				{ header : "교환및반품 코드", name : "returningCode"},
				{ header : "지점ID", name: "branchOfficeId"},
				{ header : "신청일자", name : "requestDate", align: "center",},
				//{ header : "진행상태", name : "progressStatus"},
				{ header : "비고", name : "returnRemark", hidden:1}
			],
			data: dataSource
		});
		// 교환및반품 테이블 행 선택
		let selectedRowKey = null;
		
		grid.on('click', (ev) => {
			const rowKey = ev.rowKey;  	// 클릭된 행의 키값
			if(rowKey !== null && rowKey != undefined){ 	// 행 말고 다른데 클릭해도 이 함수가 실행되서 행의 키값이 있을때만 실행되게 함
				
				//선택한 키가 있다면 색강조 제거
			    if (selectedRowKey !== null) {
			    	grid.removeRowClassName(selectedRowKey, 'tui-grid-row-highlight');
			    }
				
			 	// 클릭한 행에 강조 효과 추가 + 현재 선택한 키 등록
				grid.addRowClassName(rowKey, 'tui-grid-row-highlight');
				selectedRowKey = rowKey;
				
				const rowData = grid.getRow(rowKey); //해당 행의 데이터 가져오기
				returningCode = rowData.returningCode; // 교환및반품 코드
				branchOfficeId = rowData.branchOfficeId;
				//console.log(returningCode, branchOfficeId);
				
				
				
				// 교환및반품 상세 조회 쿼리호출
				grid2.readData(1, {returningCode});
				grid3.readData(1, {returningCode});
				/*
			    fetch('/bsn/rest/cs/returning/record?returningCode=' + returningCode, {
			        method: 'GET',
			        headers: {
			            'Content-Type': 'application/json'
			        }
			    })
			    .then(response => response.json())
			    .then(data => {
			    	grid2.resetData(data.data.contents); 
			        grid3.resetData(data.data.contents);  // 교환및반품 상세 테이블 데이터 업데이트
			        
			        
		            
		            

		            returningCodeArea.innerHTML = `선택한 반품코드 : ${returningCode}`;
		            
			    })
			    .catch(error => console.error("데이터 요청 실패:", error));
				*/
			}
		});
		
		
		
		
		
		
		
		// 교환및반품 상세 테이블
		const detailDataSource = {
				api: {
					readData: { url: '/bsn/rest/cs/returning/record', method: 'GET', initParams: { page: 1, returningCode:"0" }},
				},
				contentType: 'application/json'
				
		};
		
		const grid2 = new Grid({
			el: document.getElementById('returningDtl'), 
			pageOptions: {
				useClient: true,
				perPage: 5,
			},
			scrollX:true,
		    scrollY:false,
			columns: [ 
				{ header : "상세코드", name : "returningDetailCode", width:'auto'},
				{ header : "상품명", name : "goodsName"},
				//{ header : "상품코드", name : "goodsCode", width:'auto', hidden: 1},
				{ header : "옵션명", name : "optionName", width:'auto'},
				//{ header : "옵션코드", name : "optionCode", hidden: 1},
				{ header : "수량", name : "returningQnt", width:'auto', align: "right"},
				{ header : "교환/반품", name : "exchangeReturningChoice", sortable : true, align: "center"},
				{ header : "사유", name : "returningReason",  whiteSpace: "normal"},
				//{ header : "바코드", name : "optionBarcode", hidden: 1},
				//{ header : "LOT번호", name : "goodsLotNum", hidden: 1},
				//{ header : '재입고수량', name: 'warehousingQnt', hidden: 1 },
				//{ header : '폐기수량', name: 'DisuseQnt', hidden: 1, align: "right",}

			],
			data: detailDataSource
		});
		
		const grid3 = new Grid({
			el: document.getElementById('returningDtlProcessing'), 
			pageOptions: {
				useClient: true,
				perPage: 5,
			},
			scrollX:false,
		    scrollY:false,
			columns: [ 
				{ header : "상세코드", name : "returningDetailCode", width: 180},
				{ header : "상품명", name : "goodsName", width: 240},
				{ header : "상품코드", name : "goodsCode", hidden: 1},
				{ header : "옵션명", name : "optionName", width: 240},
				{ header : "옵션코드", name : "optionCode", hidden: 1},
				{ header : "교환 및 반품", name : "exchangeReturningChoice", hidden: 1},
				{ header : "수량", name : "returningQnt", align: "right", width: 80 },
				{ header : '재입고수량', name: 'warehousingQnt', align: "right", width: 80},
				{ header : '폐기수량', name: 'disuseQnt', align: "right",  width: 80},
				{ header : "사유", name : "returningReason", hidden: 1},
				{ header : "바코드", name : "optionBarcode", hidden: 1},
				{ header : "LOT번호", name : "goodsLotNum",width: 200, whiteSpace: "normal" },
				{ header : "창고ID", name : 'warehouseId',  align: "center",  },

			],
			data: detailDataSource
		});

		
		
		
		
		// 검색 함수
		function search(){
			//선택한 반품 코드와 지점ID 초기화
			returningCode = null;
			branchOfficeId = null;
			
			// 값 가져와서 변수선언
			let requestDate = document.querySelector('#requestDate').value;
			// 객체로 담을 변수선언
			let parameter = {};
			// 객체 담기
			parameter.progressStatus = '승인';
			parameter.companyNum = sessionCompanyNum;
			parameter.branchOfficeId = document.getElementById("inputBhf").value;
			// sql로 선언한 Date는 null값이 들어가면 오류가 나서 null이 아닐때 넣는거로 선언
			if(requestDate != ''){
				parameter.requestDate = requestDate;
			}
			// 검색 조건들 보내기
			grid.setRequestParams(parameter);
			grid.readData();
			grid2.resetData([]);
            grid3.resetData([]);
			
			
			
			
			//데이터가 없으면 뜨는 문구
            REnodata();
        	REDnodata();
        	REDPnodata();
		}


		
		// 검색 초기화 함수
		function reset(){
			// 입력칸 빈칸으로 변경
			let requestDate = document.querySelector('#requestDate').value = '';
			document.getElementById("inputBhf").value = '';
			let progressStatus = '승인';
			
			//선택한 반품 코드 초기화
			returningCode = null;
			branchOfficeId = null;
			
			// 빈 값을 보냄
			grid.setRequestParams({companyNum: sessionCompanyNum, branchOfficeId: branchOfficeId, progressStatus: progressStatus});
			grid.readData();
			grid2.resetData([]);
            grid3.resetData([]);

			search();
			
		}
		
		// 교환및반품 테이블 데이터 없을때 나오는 문구
		function REnodata(){
			//console.log("nodata실행")
			setTimeout( () => {
				let nodata = document.querySelectorAll('.tui-grid-layer-state-content p')[0];
				nodata.innerHTML = '반품 및 교환 처리 건이 조회되지 않습니다.';
			}, 100)
		}
		
		// 교환및반품 상세 테이블 데이터 없을때 나오는 문구
		function REDnodata(){
			setTimeout( () => {
				let nodata = document.querySelectorAll('.tui-grid-layer-state-content p')[1];
				nodata.innerHTML = '교환 및 반품 내역을 선택해야합니다.';
			}, 100)
		}
		
		// 교환및반품 상세 테이블 처리 데이터 없을때 나오는 문구
		function REDPnodata(){
			setTimeout( () => {
				let nodata = document.querySelectorAll('.tui-grid-layer-state-content p')[2];
				nodata.innerHTML = '교환 및 반품 내역을 선택해야합니다.';
			}, 100)
		}
		
		

		

	</script>
	
</body>
</html>