<!DOCTYPE html>
<html 
lang="en"
layout:decorate="~{layouts/layout}" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>

  <style>
  	#custom-container{
		background-color: #f8f9fa; /* 연한 회색 배경 */
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 박스 그림자 */
		margin-bottom: 20px;
	
	}
	/* 그리드 선택하면 생기는 색상 */
	.tui-grid-row-highlight {
		    background-color: #f0f8ff !important; /* 연한 하늘색 */
	}
  </style>

</head>
<body layout:fragment="content">
	<div class="container">
		<div class="row">
			<h2 class="mt-2 mb-2">CS조회-교환 및 반품 처리 조회</h2>
			<hr>
			<div class="card">
				<div class="card-body">
		                    <h5 class="card-title">검색 조건</h5>
				
				<div class="col-md-2 mt-2 mb-2">
					<div class="row">
						<label class="col-sm-6">신청 일자</label> 
						<input type="date"class="form-control" id="requestDate"> 
					</div>
				</div>
				
				
				
				<div class="col-md-12 mt-2 mb-2">
					<div class="row">
						<div class="col-sm-5"></div>
						<button class="col-sm-1 btn btn-primary" onclick="search()">검색</button>
						<button class="col-sm-1 btn btn-secondary" onclick="reset()">초기화</button>
						<div class="col-sm-5"></div>
					</div>
				</div>
				</div>
			</div>
			
			<div class="col-md-5 stretch-card mt-2 mb-2">
				<div class="card">
					<div class="card-body">
						<h5 class="mb-4">교환 및 반품</h5>
						<div id="returning"></div>
						<div id="pagination" class="tui-pagination"></div>
						<div class="text-center">
							<h5 id="returningCodeArea" class="mt-3" style="border-top: 2px solid #ddd; padding-top: 10px;"></h5>
			    		</div>
					</div>
				</div>
			</div>
			<div class="col-md-7 stretch-card mt-2 mb-2">
				<div class="card">
						<div class="card-body">
							<h5 class="mb-4">교환 및 반품 상세</h5>
							<div id="returningDtl"></div>
							<div id="pagination" class="tui-pagination"></div>
						</div>
					</div>
				</div>
			
			<div class="col-md-12 stretch-card mt-2 mb-2">
				<div class="card">
					<div class="card-body">
						<h5 class="mb-4">교환 및 반품 처리 내역</h5>
						<p id="returningCodeArea"></p>
						<div id="returningDtlProcessing"></div>
						<div id="pagination" class="tui-pagination"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
		

	
	
		
	<script  th:inline="javascript">
	//회사번호
	let sessionCompanyNum = [[${session.companyNum}]];
	let departmentNum = [[${session.departmentNum}]];
	let employeeNum = [[${session.employeeNum}]];
	</script>
	
	<script>
		var Grid = tui.Grid;
		let returningCode;
		let branchOfficeId;
		
		let returningData;
		
		
		//페이지가 로드되면 테이블에 데이터가 없을때 뜨는 문구 함수 실행
		document.addEventListener("DOMContentLoaded",()=>{
			search();  // DOMContentLoaded 이벤트 후 자동으로 검색 실행
			REDnodata();
			REDPnodata();
		})
		
		// 교환및반품 조회 쿼리 호출
		const dataSource = {
			api: {
				readData: { url: '/bsn/rest/cs/request', method: 'GET', initParams: { page: 1 }},
			},
			contentType: 'application/json'
			
		};
		// 교환및반품 테이블
		const grid = new Grid({
			el: document.getElementById('returning'), 
			pageOptions: {
				useClient: false,
				perPage: 5,
			},
			scrollX:false,
		    scrollY:false,
			columns: [ 
				{ header : "교환및반품 코드", name : "returningCode"},
				{ header : "지점ID", name: "branchOfficeId"},
				{ header : "신청일자", name : "requestDate", align: "center",},
				//{ header : "진행상태", name : "progressStatus"},
				//{ header : "비고", name : "returnRemark"}
			],
			data: dataSource
		});
		// 교환및반품 테이블 행 선택
		let selectedRowKey = null;
		
		grid.on('click', (ev) => {
			const rowKey = ev.rowKey;  	// 클릭된 행의 키값
			if(rowKey !== null && rowKey != undefined){ 	// 행 말고 다른데 클릭해도 이 함수가 실행되서 행의 키값이 있을때만 실행되게 함
				
				//선택한 키가 있다면 색강조 제거
			    if (selectedRowKey !== null) {
			    	grid.removeRowClassName(selectedRowKey, 'tui-grid-row-highlight');
			    }
				
			 	// 클릭한 행에 강조 효과 추가 + 현재 선택한 키 등록
				grid.addRowClassName(rowKey, 'tui-grid-row-highlight');
				selectedRowKey = rowKey;
				
				const rowData = grid.getRow(rowKey); //해당 행의 데이터 가져오기
				returningCode = rowData.returningCode; // 교환및반품 코드
				branchOfficeId = rowData.branchOfficeId;
				//console.log(returningCode, branchOfficeId);
				
				
				
				// 교환및반품 상세 조회 쿼리호출
				grid2.readData(1, {returningCode});
				grid3.readData(1, {returningCode});
				/*
			    fetch('/bsn/rest/cs/returning/record?returningCode=' + returningCode, {
			        method: 'GET',
			        headers: {
			            'Content-Type': 'application/json'
			        }
			    })
			    .then(response => response.json())
			    .then(data => {
			    	grid2.resetData(data.data.contents); 
			        grid3.resetData(data.data.contents);  // 교환및반품 상세 테이블 데이터 업데이트
			        
			        
		            
		            

		            returningCodeArea.innerHTML = `선택한 반품코드 : ${returningCode}`;
		            
			    })
			    .catch(error => console.error("데이터 요청 실패:", error));
				*/
			}
		});
		
		
		
		
		
		
		
		// 교환및반품 상세 테이블
		const detailDataSource = {
				api: {
					readData: { url: '/bsn/rest/cs/returning/record', method: 'GET', initParams: { page: 1, returningCode:"0" }},
				},
				contentType: 'application/json'
				
		};
		
		const grid2 = new Grid({
			el: document.getElementById('returningDtl'), 
			pageOptions: {
				useClient: true,
				perPage: 5,
			},
			scrollX:false,
		    scrollY:false,
			columns: [ 
				{ header : "상세코드", name : "returningDetailCode", width:'auto'},
				{ header : "상품명", name : "goodsName"},
				//{ header : "상품코드", name : "goodsCode", width:'auto'},
				{ header : "옵션명", name : "optionName", width:'auto'},
				//{ header : "옵션코드", name : "optionCode"},
				{ header : "수량", name : "returningQnt", width:'auto', align: "right"},
				{ header : "교환/반품", name : "exchangeReturningChoice", sortable : true, align: "center",},
				{ header : "사유", name : "returningReason", width: 'auto'},
				//{ header : "바코드", name : "optionBarcode"},
				//{ header : "LOT번호", name : "goodsLotNum"},
				//{ header : '재입고수량', name: 'warehousingQnt', },
				//{ header : '폐기수량', name: 'DisuseQnt',   , align: "right",}

			],
			data: detailDataSource
		});
		
		const grid3 = new Grid({
			el: document.getElementById('returningDtlProcessing'), 
			pageOptions: {
				useClient: true,
				perPage: 5,
			},
			scrollX:false,
		    scrollY:false,
			columns: [ 
				{ header : "상세코드", name : "returningDetailCode"},
				{ header : "상품명", name : "goodsName"},
				//{ header : "상품코드", name : "goodsCode"},
				{ header : "옵션명", name : "optionName"},
				//{ header : "옵션코드", name : "optionCode"},
				//{ header : "교환 및 반품", name : "exchangeReturningChoice"},
				{ header : "수량", name : "returningQnt", align: "right",},
				{ header : '재입고수량', name: 'warehousingQnt', align: "right",},
				{ header : '폐기수량', name: 'disuseQnt', align: "right",  },
				//{ header : "사유", name : "returningReason"},
				//{ header : "바코드", name : "optionBarcode"},
				{ header : "LOT번호", name : "goodsLotNum", },
				{ header : "입고 창고ID", name : 'warehouseId'},

			],
			data: detailDataSource
		});

		
		
		
		
		// 검색 함수
		function search(){
			//선택한 반품 코드와 지점ID 초기화
			returningCode = null;
			branchOfficeId = null;
			
			// 값 가져와서 변수선언
			let requestDate = document.querySelector('#requestDate').value;
			// 객체로 담을 변수선언
			let parameter = {};
			// 객체 담기
			parameter.progressStatus = '승인';
			parameter.companyNum = sessionCompanyNum;
			// sql로 선언한 Date는 null값이 들어가면 오류가 나서 null이 아닐때 넣는거로 선언
			if(requestDate != ''){
				parameter.requestDate = requestDate;
			}
			// 검색 조건들 보내기
			grid.setRequestParams(parameter);
			grid.readData();
			grid2.resetData([]);
            grid3.resetData([]);
			
			
			
			
			//데이터가 없으면 뜨는 문구
			REnodata();
		}


		
		// 검색 초기화 함수
		function reset(){
			// 입력칸 빈칸으로 변경
			let requestDate = document.querySelector('#requestDate').value = '';
			let progressStatus = '승인';
			
			//선택한 반품 코드 초기화
			returningCode = null;
			branchOfficeId = null;
			
			// 빈 값을 보냄
			grid.setRequestParams({companyNum: sessionCompanyNum, branchOfficeId: branchOfficeId, progressStatus: progressStatus});
			grid.readData();
			grid2.resetData([]);
            grid3.resetData([]);

			
			
		}
		
		// 교환및반품 테이블 데이터 없을때 나오는 문구
		function REnodata(){
			console.log("nodata실행")
			setTimeout( () => {
				let nodata = document.querySelectorAll('.tui-grid-layer-state-content p')[0];
				nodata.innerHTML = '반품 및 교환 처리 건이 조회되지 않습니다.';
			}, 100)
		}
		
		// 교환및반품 상세 테이블 데이터 없을때 나오는 문구
		function REDnodata(){
			setTimeout( () => {
				let nodata = document.querySelectorAll('.tui-grid-layer-state-content p')[1];
				nodata.innerHTML = '교환 및 반품 내역을 선택해야합니다.';
			}, 100)
		}
		
		// 교환및반품 상세 테이블 처리 데이터 없을때 나오는 문구
		function REDPnodata(){
			setTimeout( () => {
				let nodata = document.querySelectorAll('.tui-grid-layer-state-content p')[2];
				nodata.innerHTML = '교환 및 반품 내역을 선택해야합니다.';
			}, 100)
		}
		
		

		

	</script>
	
</body>
</html>