<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    
</head>
<body>
    <div th:fragment="ModalTemplate (modalId, modalSize, modalTitle, modalContent, modalFooter)">
        <div class="modal fade" th:id="${modalId}" tabindex="-1" th:aria-labelledby="|${modalId}Label|" aria-hidden="true">
            <div class="modal-dialog" th:classappend="${modalSize}">
                <div class="modal-content" >
                    <div class="modal-header" style="background-color:#3f3e91;  padding: 12px 16px;">
                        <h5 class="modal-title text-white" th:text="${modalTitle}"></h5>
                    </div>
                    <div class="modal-body">
                        <div th:replace="${modalContent}"></div>
                        
                    </div>
                    <div class="modal-footer" style="padding: 8px 16px;">
                        <div th:replace="${modalFooter}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>
