<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>거래대장 조회</title>
<style>
	#custom-container{
		background-color: white; 
		padding: 20px;
		border-radius: 10px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 박스 그림자 */
		margin-bottom: 20px;
	}
</style>
</head>
<body layout:fragment="content">
	<div class="container">
		<!-- 메뉴이름 -->
		<h2 class="mt-2 mb-2"><b>거래대장 조회</b></h2>
		<hr>
		<div class="row">
	    	<!-- 검색창 -->
			<div id="custom-container">
				<div class="row">
					<div class="col-md-2 mt-1 mb-1">
						<label class="form-label">거래내용</label>
						<input type="text" name="dealingsContents" id="dealingsContents" class="form-control input-box">
					</div>
					<div class="col-md-2 mt-1 mb-1">
						<label class="form-label">거래방법</label>
						<select name="typesOfTransaction" id="typesOfTransaction" class="form-control input-box">
							<option value="" selected>거래방법</option>
							<option value="AC01">현금</option>
							<option value="AC03">카드</option>
							<option value="AC02">이체(통장)</option>
							<option value="AC08">미지급금</option>
							<option value="AC09">외상매입금</option>
							<option value="AC13">임대보증금</option>
							<option value="AC16">매출액</option>
							<option value="AC19">급여</option>
							<option value="AC23">운반비</option>
						</select>
					</div>
					<div class="col-md-2 mt-1 mb-1">
						<label class="form-label">구분</label>
						<select name="section" id="section" class="form-control input-box">
							<option value="" selected>구분</option>
							<option value="EE01">수익</option>
							<option value="EE02">지출</option>
							<option value="EE03">자산</option>
							<option value="EE04">부채</option>
						</select>
					</div>
					<div class="col-md-2 mt-1 mb-1">
						<label class="form-label">작성일</label>
						<input type="date" name="dealDate" id="dealDate" class="form-control input-box">
					</div>
					<div class="col-md-2"></div>
					<div class="col-md-2 mt-4 mb-2">
						<button type="button" class="btn btn-primary" onclick="search()">검색</button>
						<button type="button" class="btn btn-secondary" style=" margin: 0px 10px" onclick="reset()">초기화</button>
					</div>
				</div>
			</div>
			<div class="col-md-12 stretch-card mt-2 mb-5">
				<div class="card">
					<div class="card-body">	
						<div id="rayout-container" class="row mb-3">
							<div class="col-9"></div>
							<!-- 그리드 표시 수량 인풋 -->
							<div class="col-3 row ">
								<div class="col-3"></div>
								<span class="label-search col-5" style="font-size: 1em">표시수량</span>
								<select name="display_amount" id="display_amount" class="col-4 input-box" onchange="changeDisplay()">
									<option value="5" selected>5</option>
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="50">50</option>
									<option value="100">100</option>
								</select>
							</div>
						</div>
						<!-- 그리드 -->
						<div id="table-container">
							<div id="grid"></div>
							<div id="pagination" class="tui-pagination"></div>
						</div>
				    	<!-- 하부 버튼 -->
						<div class="button-bar row">
							<button type="button" style="margin: 0px 10px;" class="btn btn-dark col-1 btnExcel">Excel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script>
	var session = sessionData;

	document.addEventListener("DOMContentLoaded",()=>{
		downExcel();
	})
	var Grid = tui.Grid;
	
	const dataSource = {
		api: {
			readData: { url: '/accnut/rest/book/list', method: 'GET', initParams: { page: 1, companyNum: session.companyNum } },
			
		},
		contentType: 'application/json'
			
	};
	
	const grid = new Grid({
		el : document.querySelector('#grid'),
		pageOptions: {
			useClient : false,
			perPage: 5,
		},
		columns: [
			{ header : "거래코드", name : "dealingsAccountBookCode", align: 'center'},
      { header : "구분", name : "section", align: 'center'},
      { header : "거래방법", name : "typesOfTransaction", align: 'left'},
      { header : "금액", name : "amount", align: 'right', formatter: function(ev){return numberFormat(ev.value);}},
      { header : "부가세여부", name : "vatAlternative", align: 'center'},
      { header : "거래내용", name : "dealingsContents",  },
      { header : "작성일", name : "dealDate", align: 'center'},
			
		],
		data : dataSource,
	});
	
	function changeDisplay() {
		let gap = parseInt(document.querySelector('#display_amount').value);
		grid.setPerPage(gap, dataSource);
	}
	
	function search(){
		let dealingsContents = document.querySelector('#dealingsContents').value;
		let section = document.querySelector('#section').value.toString();
		let typesOfTransaction = document.querySelector('#typesOfTransaction').value.toString();
		let dealDate = document.querySelector('#dealDate').value;
		if(dealDate == ''){
			grid.setRequestParams({"dealingsContents" : dealingsContents, "section" : section, "typesOfTransaction" : typesOfTransaction });
		} else {
			grid.setRequestParams({"dealingsContents" : dealingsContents, "section" : section, "typesOfTransaction" : typesOfTransaction, "dealDate" : dealDate  });
		}
		grid.readData();
	}
	
	function reset(){
		let dealingsContents = document.querySelector('#dealingsContents').value = '';
		let section = document.querySelector('#section').value = '';
		let typesOfTransaction = document.querySelector('#typesOfTransaction').value = '';
		let dealDate = document.querySelector('#dealDate').value = '';
		grid.setRequestParams({"dealingsContents" : dealingsContents, "section" : section, "typesOfTransaction" : typesOfTransaction });
		grid.readData();
	}
	
	function downExcel(){
		let btnExcel = document.querySelector('.btnExcel');
		btnExcel.addEventListener("click", function () {
		       const options = {
		         				includeHiddenColumns: true,
		         				//onlySelected: true,
		         				fileName: 'dealings_book',
		       					};
		       grid.export('xlsx', options);
	     })
	}

</script>
	
</body>

</html>