<!DOCTYPE html>
<html
        layout:decorate="~{layouts/layout}"
      lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:sec=""
>
<head>
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
  <style>
    .fade-in {
      opacity: 0;
      animation: fadeIn 1.5s forwards;
    }

    @keyframes fadeIn {
      from { opacity: 0; transform: translateY(-10px); }
      to { opacity: 1; transform: translateY(0); }
    }
  </style>
</head>
<body layout:fragment="content">
<input type="hidden" id="sessionEmployeeNum" th:value="${session.employeeNum}"/>
<input type="hidden" id="sessionAuthority" th:value="${session.authority}"/>
<div class="text-center mt-4">
  <h3 class="fw-bold text-primary fade-in">
    환영합니다
    <i class="mdi mdi-beach"></i>
    <span class="text-dark" th:if="${session.employeeName}" th:text="${session.employeeName}"></span>
    <span class="text-dark" th:unless="${session.employeeName}" sec:authentication="name"></span>
    님!
  </h3>
</div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation" id="calendar-tab">
      <button class="nav-link" data-bs-toggle="tab" data-bs-target="#calendar-tab-pane" type="button" role="tab" aria-controls="calendar-tab-pane" >일정</button>
    </li>
    <li class="nav-item" role="presentation" id="approval-tab">
      <button class="nav-link " data-bs-toggle="tab" data-bs-target="#approval-tab-pane" type="button" role="tab" aria-controls="approval-tab-pane" >결재</button>
    </li>
    <li class="nav-item" role="presentation" id="board-tab">
      <button class="nav-link " data-bs-toggle="tab" data-bs-target="#board-tab-pane" type="button" role="tab" aria-controls="approval-tab-pane" >게시판</button>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade" id="calendar-tab-pane" role="tabpanel" aria-labelledby="calendar-tab" tabindex="0">
      <div class="row">
        <p id="clicked-event"></p>
        <div id="calendar" style="height: 600px;">
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="approval-tab-pane" role="tabpanel" aria-labelledby="approval-tab" tabindex="0">
      <div class="row approval">
        <div class="container">
          <div class="search-grid" id="custom-container">
            <div class="d-flex flex-wrap align-items-center gap-3">
              <div class="row w-100 search">
                <div class="">
                  <label class="label-search me-2 form-label" for="documentType">요청 구분</label>
                  <select name="documentType" id="documentType" class="form-control ">
                    <option value="" selected>선택</option>
                  </select>
                </div>
                <div class="w-25">
                  <label for="inApprovalRequestDateStart" class="label-search me-2 form-label">요청 날짜</label>
                  <div class="d-flex align-items-center">
                    <input type="date" id="inApprovalRequestDateStart" class="form-control "/>~
                    <input type="date" id="inApprovalRequestDateEnd" class="form-control "/>
                  </div>

                </div>
                <div class="">
                  <label class="label-search me-2 form-label" for="employeeName">요청자</label>
                  <input type="text" name="employeeName" id="employeeName" class="form-control">
                </div>
                <div class="">
                  <label class="label-search me-2 form-label" for="display_amount">표시수량</label>
                  <select name="display_amount" id="display_amount" class="form-control " onchange="changeDisplay()">
                    <option value="5">5</option>
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="mt-4 d-flex justify-content-center search-btn">
              <button type="button" class="btn btn-primary px-3 py-2" onclick="search()">검색</button>
              <button type="button" class="btn btn-secondary px-3 py-2" onclick="reset()">초기화</button>
            </div>

          </div>
          <!-- 그리드 -->
          <div id="table-container">
            <div id="approvalGrid"></div>
<!--            <div id="pagination" class="tui-pagination"></div>-->
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="board-tab-pane" role="tabpanel" aria-labelledby="board-tab" tabindex="0">
      <div class="row board">
        <div class="container">
          <div class="search-grid" >
            <div class="d-flex flex-wrap align-items-center gap-3">
              <div class="card-body" >
                <div id="custom-container1">
                  <div class="row mb-4" >
                    <div class="w-25">
                      <label class="label-search me-2 form-label " style="text-align:center">제목</label>
                      <input type="text" class="form-control " id="boardTitle">
                    </div>
                    <div class="w-25">
                      <label class="label-search me-2 form-label " style="text-align:center">작성자</label>
                      <input type="text" class="form-control" id="boardEmployeeName">
                    </div>
                    <div class="w-25">
                      <label class="label-search me-2 form-label" style="text-align:center">분류</label>
                      <select name="progressStatus" id="boardCategory" class="form-control">
                        <option value="" selected>분류 선택</option>
                        <option value="공지">공지</option>
                        <option value="행사">행사</option>
                      </select>
                    </div>
                    <div class="w-25">
                      <label class="label-search me-2 form-label" style="text-align:center">작성일</label>
                      <input type="date" class="form-control" id="boardDate">
                    </div>

                  </div>
                  <div style="text-align : center" class="mb-4">
                    <button class="btn btn-primary" onclick="search()">검색</button>
                    <button class="btn btn-secondary" onclick="reset()">초기화</button>
                  </div>
                </div>

                <div id="board"></div>
                <div id="pagination" class="tui-pagination"></div>
                <div style="text-align : right">
                  <button type="button" class="boardInsert btn btn-success">글 쓰기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/mainpage/calendar.js"></script>
  <script src="/js/mainpage/approval.js"></script>

<script>
  const calendarTab = document.getElementById('calendar-tab')
  const approvalTab = document.getElementById('approval-tab')
  const boardTab = document.getElementById('board-tab')

  const calendarBtn = calendarTab.getElementsByTagName('button')[0]
  const approvalBtn = approvalTab.getElementsByTagName('button')[0]
  const boardBtn = boardTab.getElementsByTagName('button')[0]

  const calendarContent = document.getElementById('calendar-tab-pane')
  const approvalContent = document.getElementById('approval-tab-pane')
  const boardContent = document.getElementById('board-tab-pane')

  calendarTab.addEventListener('click', () => {
    sessionStorage.setItem("tabNo", 1)
  })
  document.getElementById('approval-tab').addEventListener('click', () => {
    sessionStorage.setItem("tabNo", 2)
  })
  document.getElementById('board-tab').addEventListener('click', () => {
    sessionStorage.setItem("tabNo", 3)
  })

  const activeTab = (tabNo) => {
    calendarBtn.classList.remove('active')
    approvalBtn.classList.remove('active')
    boardBtn.classList.remove('active')

    calendarContent.classList.remove('show', 'active');
    approvalContent.classList.remove('show', 'active');
    boardContent.classList.remove('show', 'active');

    if(tabNo === 1) {
      setTimeout(() => {
        calendar.render()
      }, 300)
      calendarBtn.classList.add('active')
      calendarContent.classList.add('show', 'active')
      approvalBtn.classList.remove('active')
      boardBtn.classList.remove('active')
      approvalContent.classList.remove('show', 'active')
      boardContent.classList.remove('show', 'active')
    } else if (tabNo === 2) {
      setTimeout(() => {
        approvalGrid.refreshLayout()
      }, 300)
      approvalBtn.classList.add('active')
      approvalContent.classList.add('show', 'active')
      calendarBtn.classList.remove('active')
      boardBtn.classList.remove('active')
      calendarContent.classList.remove('show', 'active')
      boardContent.classList.remove('show', 'active')
    } else {
      boardBtn.classList.add('active')
      boardContent.classList.add('show', 'active')
      calendarBtn.classList.remove('active')
      approvalBtn.classList.remove('active')
      calendarContent.classList.remove('show', 'active')
      approvalContent.classList.remove('show', 'active')
    }
  }

  let tabNo = 1
  let sessionTabNo = sessionStorage.getItem('tabNo')
  if(sessionTabNo) {
    tabNo = Number(sessionStorage.getItem('tabNo'))
    activeTab(tabNo)
  }

  boardTab.addEventListener('click', () => {
    boardGrid.refreshLayout()
  })

  let sessionCompanyNum = [[${session.companyNum}]];

  const boardDataSource = {
    api: {
      readData: { url: '/bhf/rest/board/list', method: 'GET', initParams: { page: 1, companyNum: sessionCompanyNum }},
    },
    contentType: 'application/json'

  };

  //게시판
  const boardGrid = new tui.Grid({
    el: document.getElementById('board'),
    pageOptions: {
      useClient: false,
      perPage: 5,
    },
    scrollX: false,
    scrollY: false,
    columns: [
      { header : "번호", name : "boardId", align: 'center', width: 100},
      { header : "분류", name : "boardCategory", align: 'center', width: 200},
      { header : "제목", name : "boardTitle", align: 'center'},
      { header : "작성자", name : "employeeName", align: 'center', width: 150},
      { header : "작성일", name : "boardDate", align: 'center', width: 150},
      {
        header: "글보기",
        name: "moveToPage",
        width: 50,
        formatter: ({ row }) => {
          return `<button class="move-btn" data-id="${row.boardId}">
                                  <i class="mdi mdi-arrow-right-bold"></i>
                                </button>`;
        }
      }
    ],
    data: boardDataSource
  });

  document.addEventListener("click", function (event) {
    const button = event.target.closest(".move-btn");
    if (button) {
      const dataset = button.dataset; // 버튼에서 data-id 값 가져오기
      window.location.href = `/bhf/erpBoardDTL?boardId=${dataset.id}`;
    }
    const insert = event.target.closest(".boardInsert");
    if (insert) {
      window.location.href = `/bhf/erpBoardInsert`;
    }
  });

  // 검색 함수
  function search(){

    let boardCategory = document.querySelector('#boardCategory').value;
    let boardEmployeeName = document.querySelector('#boardEmployeeName').value;
    let boardTitle = document.querySelector('#boardTitle').value;
    let boardDate = document.querySelector('#boardDate').value;

    let parameter = {};

    parameter.boardCategory = boardCategory
    parameter.employeeName = boardEmployeeName;
    parameter.boardTitle = boardTitle;

    if(boardDate != ''){
      parameter.boardDate = boardDate;
    }

    boardGrid.setRequestParams(parameter);
    boardGrid.readData();

    OLDnodata();
  }

  // 검색 초기화 함수
  function reset(){

    let boardTitle = document.querySelector('#boardTitle').value = '';
    let boardEmployeeName = document.querySelector('#boardEmployeeName').value = '';
    let boardCategory = document.querySelector('#boardCategory').value = '';
    let boardDate = document.querySelector('#boardDate').value = '';

    boardGrid.setRequestParams({companyNum: sessionCompanyNum});
    boardGrid.readData();
  }

  function OLDnodata(){
    setTimeout( () => {
      let nodata = document.querySelectorAll('.tui-grid-layer-state-content p')[0];
      nodata.innerHTML = '해당하는 데이터가 없습니다.';
    }, 100)
  }

</script>
</body>

</html>
